body{
  background: #222326;
  color: white;
}

.App {
  text-align: center;
  background: #222326;
}

.App-link {
  color: #61dafb;
}

.dt{
  margin: 0.2%;
}

.title{
  margin-top: 1%;
  text-align: center;
}